<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Digite seu email" />
                    <mat-error *ngIf="loginForm.get('email')?.invalid">
                        Email inválido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Digite sua senha" />
                    <mat-error *ngIf="loginForm.get('password')?.invalid">
                        Senha obrigatória
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Entrar
                </button>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/register">Não tem uma conta? Cadastre-se</a>
        </mat-card-actions>
    </mat-card>
</div>