<div class="register-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" type="text" placeholder="Digite seu nome completo" />
                    <mat-error *ngIf="registerForm.get('name')?.invalid">
                        Nome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Digite seu email" />
                    <mat-error *ngIf="registerForm.get('email')?.invalid">
                        Email inválido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Digite sua senha" />
                    <mat-error *ngIf="registerForm.get('password')?.invalid">
                        Senha deve ter no mínimo 6 caracteres
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Confirme a Senha</mat-label>
                    <input matInput formControlName="confirm_password" type="password"
                        placeholder="Confirme sua senha" />
                    <mat-error *ngIf="registerForm.get('confirm_password')?.invalid">
                        As senhas são inválidas
                    </mat-error>
                    
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
                    Registrar
                </button>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/login">Já tem uma conta? Faça login</a>
        </mat-card-actions>
    </mat-card>
</div>